@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.headerText {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 40px;
    margin-left: 10px;
    color: orangered;
    font-weight: 700;
}